*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#64C8ED,#D800F5);
}
.container{
    height:31.25rem;
    width:24.5rem;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.images{
    height: 24.25rem;
    width: 19.5rem;
    background-color: red;
    position: absolute;
    overflow: hidden;
}
.pic{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    object-fit: fill;
    transition: transform 1s ease;
}
.buttons{
    height:44px ;
    width:546px ;
    margin-bottom: 12px;
    background-color: transparent;
    color:#131313;
    border:none;
    cursor: pointer;
    position:relative;
    display: flex;
    justify-content: space-around;
    
}
#backword{
    position: relative;
    
}
#forward{
    position: relative;
}